* {
  padding: 0;
  margin: 0;
}
/* general */
.inline {
  display: inline-block;
  vertical-align: top;
}
ul {
  list-style: none;
}
a {
  transition: all 0.2s linear 0s;
}

}
ul {
  margin: 0;
  padding: 0;
}
a {
  outline: none!important;
}
a:hover,
a:active,
a:focus {
  text-decoration: none;
}
img[src="assets/images/blank.gif"] {
  background: url("../images/ajax.gif") no-repeat scroll center center #ffffff;
}
.btn-upper {
  text-transform: uppercase;
}
.m-t-20 {
  margin-top: 20px;
}
.m-t-15 {
  margin-top: 15px;
}
.m-t-10 {
  margin-top: 10px;
}
.btn-uppercase {
  text-transform: uppercase;
}
.btn-default {
  background: #cbc9c9;
  color: #fff;
  font-weight: 700;
  /*line-height:30px;*/
  transition: all 0.2s linear 0s;
}
.btn-primary {
  transition: all linear 0.2s;
  background: #a8a8a8;
  color: #fff;
  border: none;
  font-size: 13px;
  line-height: 22px;
}
.btn-black {
  transition: all linear 0.2s;
  background: #3a3a3a;
  color: #fff;
  border: none;
  font-size: 15px;
  line-height: 30px;
  font-weight: 500;
  padding: 3px 22px;
}
.btn-primary:hover,
.btn-black:hover,
.btn-black:focus,
.btn-primary:focus {
  color: #fff;
}
.center-block {
  float: none;
}
.inner {
  padding-top: 120px;
  padding-bottom: 120px;
}
.inner-md {
  padding-top: 100px;
  padding-bottom: 100px;
}
.inner-sm {
  padding-top: 80px;
  padding-bottom: 80px;
}
.inner-xs {
  padding-top: 40px;
  padding-bottom: 40px;
}
.inner-vs {
  padding-top: 30px;
  padding-bottom: 30px;
}
.inner-top {
  padding-top: 120px;
}
.inner-top-md {
  padding-top: 100px;
}
.inner-top-sm {
  padding-top: 80px;
}
.inner-top-xs {
  padding-top: 40px;
}
.inner-top-vs {
  padding-top: 30px;
}
.inner-bottom {
  padding-bottom: 120px;
}
.inner-bottom-md {
  padding-bottom: 100px;
}
.inner-bottom-sm {
  padding-bottom: 80px;
}
.inner-bottom-xs {
  padding-bottom: 40px;
}
.inner-bottom-vs {
  padding-bottom: 60px;
}
.inner-left {
  padding-left: 75px;
}
.inner-left-md {
  padding-left: 60px;
}
.inner-left-sm {
  padding-left: 45px;
}
.inner-left-xs {
  padding-left: 30px;
}
.inner-right {
  padding-right: 75px;
}
.inner-right-md {
  padding-right: 60px;
}
.inner-right-sm {
  padding-right: 45px;
}
.inner-right-xs {
  padding-right: 30px;
}
.inner-right-vs {
  padding-right: 10px;
}
.outer {
  margin-top: 120px;
  margin-bottom: 120px;
}
.outer-md {
  margin-top: 100px;
  margin-bottom: 100px;
}
.outer-sm {
  margin-top: 80px;
  margin-bottom: 80px;
}
.outer-xs {
  margin-top: 40px;
  margin-bottom: 40px;
}
.outer-top {
  margin-top: 120px;
}
.outer-top-md {
  margin-top: 100px;
}
.outer-top-sm {
  margin-top: 80px;
}
.outer-top-xs {
  margin-top: 30px;
}
.outer-top-vs {
  margin-top: 40px;
}
.outer-top-small {
  margin-top: 50px;
}
.outer-bottom {
  margin-bottom: 120px;
}
.outer-bottom-md {
  margin-bottom: 100px;
}
.outer-bottom-sm {
  margin-bottom: 80px;
}
.outer-bottom-vs {
  margin-bottom: 60px;
}
.outer-bottom-xs {
  margin-bottom: 40px;
}
.outer-bottom-small {
  margin-bottom: 50px;
}
.outer-top-bd {
  margin-top: 50px;
}
.inner-bottom-30 {
  padding-bottom: 30px;
}
.inner-bottom-20 {
  padding-bottom: 20px;
}
.section-title {
  font-size: 20px;
  font-family: 'FjallaOneRegular';
  border-bottom: 1px solid #e3e3e3;
  padding-bottom: 10px;
  text-transform: uppercase;
}
.home-owl-carousel .owl-controls,
.blog-slider .owl-controls,
.brand-slider .owl-controls {
  margin-top: 0px;
}
/*carousel control button*/
.custom-carousel .owl-controls {
  position: absolute;
  right: 0;
  top: -25px;
  width: 100%;
  display: block;
}
.custom-carousel .owl-controls .owl-prev {
  position: absolute;
  width: 20px;
  height: 20px;
  top: -36px;
  right: 27px;
  transition: all linear 0.2s;
  border-radius: 3px;
  background: #dddddd;
}
.custom-carousel .owl-controls .owl-prev:before {
  color: #fff;
  content: "\f104";
  font-family: fontawesome;
  font-size: 13px;
  left: 8px;
  position: absolute;
  top: 0px;
}
.custom-carousel .owl-controls .owl-next {
  position: absolute;
  width: 20px;
  height: 20px;
  top: -36px;
  right: 0px;
  transition: all linear 0.2s;
  border-radius: 3px;
  background: #dddddd;
}
.custom-carousel .owl-controls .owl-next:before {
  content: "\f105";
  font-family: fontawesome;
  color: #fff;
  font-size: 13px;
  left: 8px;
  position: absolute;
  top: 0px;
}
.logo-slider .owl-controls .owl-prev,
.logo-slider .owl-controls .owl-next {
  top: -57px;
}
.featured-product {
  margin-bottom: 19px;
}
.logo-slider-inner {
  margin-top: 50px;
  margin-bottom: 60px;
}
.special-product .product:first-child {
  margin-bottom: 30px;
}
.special-product .product:last-child {
  margin-top: 30px;
}
.best-product .product:first-child {
  margin-bottom: 30px;
}
#owl-main .owl-controls .owl-buttons .icon {
  position: relative;
  top: 8px;
  color: #fff !important;
}
.config-options ul > li > a {
  display: block;
}
.read-more-bottom {
  margin-bottom: 10px;
}
.unicase-form-control {
  border-radius: 3px;
  border-color: #eee;
  box-shadow: none;
  height: auto;
  padding: 10px 12px;
}
.unicase-form-control:focus {
  box-shadow: none;
  border-color: #d8d8d8;
}
.animate-dropdown .open > .dropdown-menu,
.animate-dropdown .open > .dropdown-menu > .dropdown-submenu > .dropdown-menu {
  animation-name: slidenavAnimation;
  animation-duration: 200ms;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}
@keyframes slidenavAnimation {
  from {
    margin-top: -30px;
    opacity: 0;
  }
  to {
    margin-top: 0;
    opacity: 1;
  }
}
.btn-primary:hover,
.btn-black:hover,
.btn-primary:focus,
.btn-black:focus {
  background: #12cca7;
}
/* top header */
.top-bar .cnt-account ul > li a:hover,
.top-bar .cnt-account ul > li a:focus {
  color: #fff;
}
.top-bar .cnt-block ul li a {
  color: #0827bf;
}
/*.top-bar .cnt-block ul li .dropdown-menu li a:hover,
.top-bar .cnt-block ul li .dropdown-menu li a:focus {
  color: #12cca7;
}*/
.top-bar {
  background-color: rgba(132,192,210,0.7);
  padding: 10px 0 9px;
  font-size: 12px;
}
.top-bar .cnt-account {
  float: left;
  padding: 6px 0px;
}
.top-bar .cnt-account ul {
  margin: 0px;
}
.top-bar .cnt-account ul > li {
  display: inline-block;
  line-height: 12px;
  padding: 3px 12px;
  border-left: 1px solid #e2e2e2;
}
.top-bar .cnt-account ul > li:last-child {
  border-right: 1px solid #e2e2e2;
}
.top-bar .cnt-account ul > li a {
  color: #0827bf;
  padding: 0px;
  font-weight: 400;
  transition: all 0.2s linear 0s;
}
.top-bar .cnt-account ul > li a .icon {
  display: block;
  float: left;
  padding-right: 6px;
  font-size: 11px;
}
.top-bar .cnt-account ul > li a:hover,
.top-bar .cnt-account ul > li a:focus {
  text-decoration: none;
}
.top-bar .cnt-block {
  float: right;
}
.top-bar .cnt-block .list-inline {
  margin: 0px;
}
.top-bar .cnt-block .list-inline > li {
  display: inline-block;
}
.top-bar .cnt-block .list-inline > li > a {
  padding: 6px 15px;
  border: 1px solid #d4d4d4;
  transition: all 0.2s linear 0s;
  color:  #0827bf;
  display: inline-block;
}
.top-bar .cnt-block .list-inline > li > a .value {
  color: #666;
  margin: 0px 7px;
}
.top-bar .cnt-block .list-inline > li > a:hover,
.top-bar .cnt-block .list-inline > li > a:focus {
  text-decoration: none;
  color: #fff;
}
/*.top-bar .cnt-block .list-inline > li .dropdown-menu {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid #e1e1e1;
  top: 125%;
  left: 5px;
}
.top-bar .cnt-block .list-inline > li .dropdown-menu li a:hover,
.top-bar .cnt-block .list-inline > li .dropdown-menu li a:focus {
  background: rgba(0, 0, 0, 0);
}*/
/* main-header */
.main-header {
  padding: 20px 0px;
  background-color: rgba(224,224,224,0.7);
}
.main-header .top-search-holder .search-area .control-group .search-field {
  width: 80%;
  padding: 12px 0px;
}
.main-header .top-search-holder .search-area .search-button {
    padding: 12px 19px;
  }
.top-cart-row .dropdown-cart .lnk-cart .items-cart-inner .total-price-basket .total-price {
  color: #12cca7;
}
.top-cart-row .dropdown-cart .dropdown-menu .cart-item.product-summary .name a:hover,
.top-cart-row .dropdown-cart .dropdown-menu .cart-item.product-summary .name a:focus {
  color: #12cca7;
}
.top-cart-row .dropdown-cart .dropdown-menu .cart-item.product-summary .price {
  color: #12cca7;
}
.top-cart-row .dropdown-cart .dropdown-menu .cart-item.product-summary .action a:hover,
.top-cart-row .dropdown-cart .dropdown-menu .cart-item.product-summary .action a:focus {
  color: #12cca7;
}
.top-cart-row .dropdown-cart .dropdown-menu .cart-total .price {
  color: #12cca7;
}
.main-header .top-search-holder .search-area .categories-filter .dropdown-menu li a:hover,
.main-header .top-search-holder .search-area .categories-filter .dropdown-menu li a:focus {
  color: #12cca7;
}
.top-cart-row {
  padding-top: 11px;
}
.top-cart-row .dropdown-cart {
  float: right;
}
.top-cart-row .dropdown-cart .lnk-cart {
  padding: 0px;
  border: 1px solid #e1e1e1;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  display: inline-block;
  color: #666666;
}
.top-cart-row .dropdown-cart .lnk-cart .items-cart-inner {
  position: relative;
}
.top-cart-row .dropdown-cart .lnk-cart .items-cart-inner .total-price-basket {
  padding: 13px 15px;
  font-family: 'FjallaOneRegular';
  text-transform: uppercase;
  float: left;
}
.top-cart-row .dropdown-cart .lnk-cart .items-cart-inner .basket {
  float: right;
  background: #efefef;
  padding: 12px;
  border-left: 1px solid #e1e1e1;
  padding: 13px 15px;
}
.top-cart-row .dropdown-cart .lnk-cart .items-cart-inner .basket-item-count {
  border-radius: 100px;
  height: 21px;
  position: absolute;
  right: 33px;
  top: -13px;
  width: 21px;
  background: #000;
  color: #fff;
  font-size: 13px;
  text-align: center;
}
.top-cart-row .dropdown-cart .dropdown-menu {
  border: 1px solid #e1e1e1;
  border-radius: 0;
  float: right;
  left: auto;
  min-width: 0;
  padding: 24px 22px;
  right: 0;
  width: 230px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.top-cart-row .dropdown-cart .dropdown-menu .cart-item.product-summary .name {
  font-size: 13px;
  font-family: 'FjallaOneRegular';
  margin-top: 0px;
}
.top-cart-row .dropdown-cart .dropdown-menu .cart-item.product-summary .name a {
  color: #666666;
}
.top-cart-row .dropdown-cart .dropdown-menu .cart-item.product-summary .price {
  font-weight: 700;
}
.top-cart-row .dropdown-cart .dropdown-menu .cart-item.product-summary .action {
  padding: 0;
  position: relative;
  font-size: 15px;
  right: 8px;
  top: 8px;
}
.top-cart-row .dropdown-cart .dropdown-menu .cart-item.product-summary .action a {
  color: #898989;
}
.top-cart-row .dropdown-cart .dropdown-menu .cart-total .text {
  font-size: 13px;
  font-family: 'FjallaOneRegular';
  color: #666666;
  margin-right: 10px;
}
.top-cart-row .dropdown-cart .dropdown-menu .cart-total .price {
  font-weight: 700;
}
/* menu-bar */
.header-style-1 .header-nav {
  background-color: rgba(132,192,210,0.7);
}
.cnt-home .header-style-1 .header-nav .navbar .navbar-nav > li > a, .cnt-home .header-style-1 .header-nav .navbar .navbar-nav > li > a {
  color: #0827BF;
  font-size: 20px;
  font-family: 'Girassol';
  font-weight: 700;
}
.cnt-home .header-style-1 .header-nav .navbar .navbar-nav > li > a:hover,
.cnt-home .header-style-1 .header-nav .navbar .navbar-nav > li > a:focus {
  background-color: rgb(224,224,224);
  border-bottom: 3px solid #0827BF;
}
.header-style-1 .header-nav .navbar-default {
  background: rgba(132,192,210,0.7);
  margin: 10px;
}
/* body content */
.body-content {
  background-color: rgb(224,224,224);
}
.bg {
  height: 600px;
  padding: 100px;
  margin-top: 20px;
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url("../../img/bg1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.bg h1 {
  margin-top: 100px;
  font-size: 50px;
  color: #84C0D2;
  font-weight: 600;
  font-family: 'Girassol';
}
.headlight {
  font-size: 5rem;
  font-weight: bold;
  margin-top: 15px;
  margin-left: 15px;
  animation: light 1.5s ease-in-out infinite alternate;
}
@keyframes light {
  from {
    color: #fff;
    text-shadow: 0 0 10px #00fff2, 0 20px #00fff2, 0 0 30px #00fff2, 0 0 #00fff2, 0 0 50px #00fff2, 0 0 60px #00fff2, 0 0 70px #00fff2, 0 0 90px #00fff2;
  }
  to {
    color: lightgrey;
    text-shadow: 0 0 20px #00fff2, 0 30px #00fff2, 0 0 40px #00fff2, 0 0 #00fff2, 0 0 60px #00fff2, 0 0 70px #00fff2, 0 0 80px #00fff2, 0 1 90px #00fff2;
  }
}
/* sidebar */
.body-content .sidebar {
  background: rgba(0,0,0,0.7);
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 20px;
  border-radius: 20px;
  border: 1px solid #84C0D2;
  color: #84C0D2;
}
.sidebar .side-menu nav .nav > li a:hover,
.sidebar .side-menu nav .nav > li a:focus {
  color: #12cca7;
}
.highlight {
  font-size: 30px;
  color: #84C0D2;
  font-weight: 300;
  font-family: 'Girassol';
}
.sidebar .side-menu nav .nav > li > .dropdown-toggle {
  left: 0px;
  min-width: 100%;
  top: 100%;
}
/* featured products */
.scroll-tabs {
  margin-bottom: 19px;
}
.scroll-tabs .more-info-tab {
  border-bottom: 1px solid #e3e3e3;
  padding-bottom: 10px;
}
.scroll-tabs .more-info-tab .new-product-title {
  margin-bottom: 0px;
  margin-top: 5px;
  font-size: 20px;
  font-family: 'FjallaOneRegular';
  text-transform: uppercase;
}
.scroll-tabs .nav-tab-line {
  border-bottom: none;
  margin-top: 7px;
  margin-right: 55px;
}
.scroll-tabs .nav-tab-line li.active a {
  border: none;
}
.scroll-tabs .nav-tab-line li a {
  text-transform: uppercase;
  font-weight: 500;
  color: #666666;
  font-size: 14px;
  border: medium none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 0 15px !important;
  position: relative;
}
.scroll-tabs .nav-tab-line li a:hover,
.scroll-tabs .nav-tab-line li a:focus {
  background: rgba(0, 0, 0, 0);
  color: #12cca7;
}
.scroll-tabs .nav-tab-line li a:hover:after {
  content: "\f0d7";
  font-family: FontAwesome;
  position: absolute;
  right: 50%;
  top: 100%;
  height: 100%;
  margin-right: -4px;
  margin-top: -4px;
  width: 10px;
  transition: all 0.2s linear 0s;
}
.product .product-info .name a {
  color: #000033;
}
.product .product-info .name a:hover,
.product .product-info .name a:focus {
  color: #12cca7;
}
.product .product-info .product-price .price {
  color: #12cca7;
}
.product .cart .action ul li.lnk a:hover,
.product .cart .action ul li.lnk a:focus {
  color: #12cca7;
}
.product .cart .action ul li.add-cart-button .btn-primary:hover,
.product .cart .action ul li.add-cart-button .btn-primary:focus {
  background: #12cca7;
}
/*.product .cart .action ul li.add-cart-button .btn-primary.icon:hover,
.product .cart .action ul li.add-cart-button .btn-primary.icon:focus {
  background: #0b816a;
}*/
.product {
  position: relative;
}
.product .product-image .tag {
  position: absolute;
}
.product .product-info .name {
  font-size: 16px;
  font-family: 'FjallaOneRegular';
}
.product .product-info .name a {
  color: #555;
}
.product .product-info .star-rating .color {
  color: #ffb400;
}
.product .product-info .product-price .price {
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  margin-right: 8px;
}
.product .product-info .product-price .price-before-discount {
  text-decoration: line-through;
  color: #696969;
  font-weight: 400;
  line-height: 30px;
  font-size: 14px;
}
.product .cart {
  margin-top: 5px;
  opacity: 0;
  -webkit-transition: all 0.2s linear 0s;
  -moz-transition: all 0.2s linear 0s;
  -o-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
  width: 100%;
  z-index: 666;
  left: 0px;
}
.product .cart .action ul li {
  float: left;
}
.product .cart .action ul li.add-cart-button .btn.btn-primary.icon {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  background: #575757 ;
}
.product .cart .action ul li.lnk {
  margin: 10px 0px;
}
.product .cart .action ul li.lnk a {
  padding: 0 10px;
  color: #dadada;
}
.product .cart .action ul li.lnk.wishlist {
  border-right: 1px solid #dadada;
}
/* my-account */
.checkout-box .checkout-steps .panel .panel-heading .unicase-checkout-title > a:not(.collapsed) span {
  background-color: #12cca7;
}
.checkout-box .checkout-steps .checkout-step-01 .already-registered-login a:hover,
.checkout-box .checkout-steps .checkout-step-01 .already-registered-login a:focus {
  color: #12cca7;
}
.checkout-box .checkout-progress-sidebar .panel-body ul li a:hover,
.checkout-box .checkout-progress-sidebar .panel-body ul li a:focus {
  color: #12cca7;
}
.glow {
  padding: 4px;
  background-color: #000033;
  color: #fff;
  margin-right: 10px;
}
/* my-cart */
.shopping-cart .shopping-cart-table table tbody tr .cart-product-name-info h4 a:hover,
.shopping-cart .shopping-cart-table table tbody tr .cart-product-name-info h4 a:focus {
  color: #12cca7;
}
.shopping-cart .shopping-cart-table table tbody tr .cart-product-name-info .cart-product-info span span {
  color: #0b816a;
}
.shopping-cart .shopping-cart-table table tbody tr .cart-product-edit a:hover,
.shopping-cart .shopping-cart-table table tbody tr .cart-product-edit a:focus {
  color: #12cca7;
}
.shopping-cart .cart-shopping-total table thead tr th .cart-grand-total {
  color: #0b816a;
}
.shopping-cart-table table tbody tr td .quant-input .arrows .arrow:hover,
.shopping-cart-table table tbody tr td .quant-input .arrows .arrow:focus {
  color: #12cca7;
}
/* wishlist */
.body-content .my-wishlist-page .my-wishlist table tbody .product-name a:hover,
.body-content .my-wishlist-page .my-wishlist table tbody .product-name a:focus {
  color: #12cca7;
}
.shopping-cart .shopping-cart-table {
  margin-top: 20px;
  margin-bottom: 50px;
}
.shopping-cart .shopping-cart-table table {
  margin-bottom: 0px !important;
}
.shopping-cart .shopping-cart-table table tbody tr td {
  vertical-align: middle;
}
.shopping-cart .shopping-cart-table table tbody tr .romove-item a {
  font-size: 18px;
  color: #666666;
}
.shopping-cart .shopping-cart-table table tbody tr .romove-item a:hover,
.shopping-cart .shopping-cart-table table tbody tr .romove-item a:focus {
  color: #ff000 !important;
}
.shopping-cart .shopping-cart-table table tbody tr .cart-image .entry-thumbnail {
  display: block;
  text-align: center;
}
.shopping-cart .shopping-cart-table table tbody tr .cart-product-name-info {
  vertical-align: middle !important;
}
.shopping-cart .shopping-cart-table table tbody tr .cart-product-name-info h4 {
  margin-top: 0px;
  font-family: 'FjallaOneRegular';
  font-size: 16px;
  text-transform: uppercase;
}
.shopping-cart .shopping-cart-table table tbody tr .cart-product-name-info h4 a {
  color: #555;
}
.shopping-cart .shopping-cart-table table tbody tr .cart-product-name-info .reviews {
  font-size: 11px;
  color: #aaa;
}
.shopping-cart .shopping-cart-table table tbody tr .cart-product-name-info .cart-product-info {
  margin-top: 10px;
}
.shopping-cart .shopping-cart-table table tbody tr .cart-product-name-info .cart-product-info span {
  font-family: 'FjallaOneRegular';
  font-size: 12px;
  color: #666666;
  text-transform: uppercase;
}
.shopping-cart .shopping-cart-table table tbody tr .cart-product-name-info .cart-product-info span span {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  text-transform: lowercase;
  margin-left: 14px;
}
.shopping-cart .shopping-cart-table table tbody tr .cart-product-edit a {
  color: #666666;
  text-decoration: underline;
}
.shopping-cart .shopping-cart-table .table > thead > tr > th {
  text-align: center;
  padding: 16px;
  font-family: 'FjallaOneRegular';
  font-size: 15px;
}
.shopping-cart .shopping-cart-table .shopping-cart-btn span {
  padding: 20px 0px;
  display: block;
}
.shopping-cart .estimate-ship-tax table thead tr th .estimate-title {
  font-family: 'FjallaOneRegular';
  font-size: 19px;
  color: #555;
  text-transform: uppercase;
  margin-bottom: 2px;
  margin-top: 0px;
  display: block;
}
.shopping-cart .estimate-ship-tax table thead tr th p {
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  color: #666666;
  font-weight: normal;
  margin-bottom: 0px;
}
.shopping-cart .estimate-ship-tax table thead tr > th {
  padding: 24px 24px 20px 24px;
}
.shopping-cart .estimate-ship-tax table tbody tr > td {
  padding: 24px !important;
}
.shopping-cart .estimate-ship-tax table tbody .unicase-form-control .selectpicker {
  background: #fff;
  color: #999;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid #eee;
}
.shopping-cart .estimate-ship-tax table tbody .unicase-form-control .dropdown-menu.open ul li a:hover,
.shopping-cart .estimate-ship-tax table tbody .unicase-form-control .dropdown-menu.open ul li a:focus {
  background: rgba(0, 0, 0, 0);
}
.shopping-cart .cart-shopping-total table thead tr th {
  background-color: #fafafa;
  text-align: right;
  padding: 24px 50px;
  text-transform: uppercase;
}
.shopping-cart .cart-shopping-total table thead tr th .cart-sub-total {
  color: #555;
  margin-bottom: 7px;
}
.shopping-cart .cart-shopping-total table tbody tr td {
  padding: 24px 50px;
}
.shopping-cart .cart-shopping-total table tbody tr td .cart-checkout-btn button {
  float: right !important;
  margin-bottom: 8px;
}
.shopping-cart .cart-shopping-total table tbody tr td .cart-checkout-btn span {
  display: block;
  font-weight: normal;
  color: #666666;
}
.shopping-cart .shopping-cart-table table tbody tr .romove-item,
.shopping-cart .shopping-cart-table table tbody tr .cart-product-edit,
.shopping-cart .shopping-cart-table table tbody tr .cart-product-sub-total,
.shopping-cart .shopping-cart-table table tbody tr .cart-product-grand-total,
.shopping-cart .shopping-cart-table table tbody tr .cart-product-quantity {
  text-align: center;
}
.shopping-cart .shopping-cart-table table tbody tr .cart-product-sub-total span,
.shopping-cart .shopping-cart-table table tbody tr .cart-product-grand-total span {
  display: block;
  font-family: 'FjallaOneRegular';
  font-size: 20px;
  color: #555;
  text-transform: uppercase;
}
/*payment-method*/
.checkout-box .checkout-steps .checkout-step-01 .already-registered-login form .form-group .info-title {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  margin-bottom: 10px;
  font-size: 14px;
}
.checkout-box .checkout-steps .checkout-step-01 .already-registered-login .forgot-password {
  padding-top: 14px;
  display: inline-block;
}
.checkout-box .checkout-steps .checkout-step-01 .already-registered-login a {
  font-size: 14px;
  color: #666666;
  text-decoration: underline;
}
.checkout-box .checkout-steps .checkout-step-01 .already-registered-login button {
  margin-top: 15px;
}
.checkout-box .checkout-steps .panel .panel-heading .unicase-checkout-title {
  margin: 0px !important;
}
.checkout-box .checkout-steps .panel .panel-heading .unicase-checkout-title a {
  color: #555;
  text-transform: uppercase;
  display: block;
}
.checkout-box .checkout-steps .panel .panel-heading .unicase-checkout-title a span {
  background-color: #aaaaaa;
  color: #fff !important;
  display: inline-block;
  margin-right: 10px;
  padding: 15px 20px;
}
.checkout-box .checkout-steps .checkout-subtitle {
  font-family: 'FjallaOneRegular';
  font-size: 16px;
  text-transform: uppercase;
  color: #434343;
  margin-right: 12px;
}
/* search-result */
.search-result-container .category-product {
  border-top: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
}
.search-result-container .category-product .product {
  margin-bottom: 30px;
}
.search-result-container .category-product .product .product-image .tag {
  width: 60px;
  height: 60px;
  line-height: 55px;
  font-size: 17px;
  right: 14px;
}
.search-result-container .category-product .product .cart {
  opacity: 1;
}
.search-result-container .category-product .product .cart .lnk {
  margin: 8px 0px !important;
}
.search-result-container .category-product .product .cart .lnk a {
  background: #a8a8a8;
  padding: 8px 11px !important;
  margin-left: 10px;
  color: #fff !important;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.search-result-container .category-product .product .cart .lnk a:hover,
.search-result-container .category-product .product .cart .lnk a:focus {
  color: #fff !important;
}
.search-result-container .category-product-inner .product-list.product {
  border: 1px solid #f2f2f2;
  position: relative;
  margin-bottom: 30px;
}
.search-result-container .category-product-inner .product-list.product .product-info {
  padding: 24px 40px;
}
.search-result-container .category-product-inner .product-list.product .product-info .cart {
  margin-top: 30px;
}
.search-result-container .category-product-inner .product-list.product .tag {
  position: absolute;
  right: 12px;
  top: 18px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  font-size: 17px;
  z-index: 999;
}
/* category */
.category-carousel .item .owl-controls .owl-prev {
  left: -35px;
}
.category-carousel .item .owl-controls .owl-next {
  right: -35px;
}
.category-carousel .item:hover .owl-prev {
  left: -40px;
  opacity: .25;
}
.category-carousel .item:hover .owl-next {
  right: -40px;
  opacity: .25;
}
.category-carousel .item:hover .owl-prev:hover,
.category-carousel .item:hover .owl-next:hover {
  opacity: 1;
}
/* footer */
.hr {
  width: 100%;
  height: 1px;
  background-color: #000033;
}
.footer .upper1 {
  background-color: rgba(224,224,224);
  color: #000033;
  padding-top: 20px;
  padding-left: 100px;
}
.footer .lower1 {
  background-color: rgba(132,192,210,0.7);
  color: #000033;
  padding: 10px 0px 10px 100px;
}
.footer .copyright {
  margin-top: 25px;
}
/* product-details */
.hot-deals .product-info .product-price .price {
  color: #12cca7;
}
.hot-deals .product-info .name a:hover,
.hot-deals .product-info .name a:focus {
  color: #12cca7;
}
.single-product .gallery-holder .gallery-thumbs .owl-item .item:hover {
  border: 1px solid #12cca7;
}
.single-product .product-info .rating-reviews .reviews .lnk:hover,
.single-product .product-info .rating-reviews .reviews .lnk:focus {
  color: #12cca7;
}
.single-product .product-info .price-container .price-box .price {
  color: #12cca7;
}
.single-product .product-info .quantity-container .cart-quantity .arrows .arrow:hover,
.single-product .product-info .quantity-container .cart-quantity .arrows .arrow:focus {
  color: #12cca7;
}
.single-product .product-info .product-social-link .social-icons ul li a:hover,
.single-product .product-info .product-social-link .social-icons ul li a:focus {
  background: #12cca7;
}
.single-product .product-tabs .nav.nav-tabs.nav-tab-cell li a:hover,
.single-product .product-tabs .nav.nav-tabs.nav-tab-cell li a:focus {
  background: #12cca7;
}
.single-product .product-tabs .nav.nav-tabs.nav-tab-cell li a:hover:after,
.single-product .product-tabs .nav.nav-tabs.nav-tab-cell li a:focus:after {
  border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #12cca7;
}
.single-product .product-tabs .nav.nav-tabs.nav-tab-cell li.active a {
  background: #12cca7;
}
.single-product .product-tabs .nav.nav-tabs.nav-tab-cell li.active a:after {
  border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #12cca7;
}
.cnt-homepage .single-product .product-info-block .form-control .dropdown-menu ul li a:hover,
.cnt-homepage .single-product .product-info-block .form-control .dropdown-menu ul li a:focus {
  color: #12cca7;
}
.cnt-homepage .single-product .product-info-block .txt.txt-qty {
  color: #12cca7;
}
.cnt-homepage .single-product .product-tabs .nav-tab-cell-detail {
  border-bottom: none;
}
.cnt-homepage .single-product .product-tabs .nav-tab-cell-detail li {
  margin-right: 10px;
  padding: 0;
}
.cnt-homepage .single-product .product-tabs .nav-tab-cell-detail li a:hover,
.cnt-homepage .single-product .product-tabs .nav-tab-cell-detail li a:focus {
  background: #12cca7;
  border: 2px solid #12cca7;
}
.cnt-homepage .single-product .product-tabs .nav-tab-cell-detail li.active a {
  background: #12cca7;
  border: 2px solid #12cca7;
}
.product-list.product .product-info .name {
  font-size: 20px;
}
.product-list.product .product-info .description {
  line-height: 20px;
}
.single-product .gallery-holder #owl-single-product .single-product-gallery-item {
  border: 1px solid #e5e5e5;
}
.single-product .gallery-holder .gallery-thumbs {
  margin: 15px 0 0;
  position: relative;
  text-align: left;
}
.single-product .gallery-holder .gallery-thumbs .owl-item .item {
  margin-right: 10px;
  border: 1px solid #e5e5e5;
}
.single-product .product-info .name {
  font-size: 20px;
  line-height: 18px;
  font-family: 'FjallaOneRegular';
  color: #555;
  margin-top: 5px;
}
.single-product .product-info .rating-reviews .reviews .lnk {
  color: #aaaaaa;
}
.single-product .product-info .stock-container .stock-box .label {
  font-size: 16px;
  font-family: 'FjallaOneRegular';
  line-height: 18px;
  text-transform: uppercase;
  color: #666666;
  padding: 0px;
  font-weight: normal;
}
.single-product .product-info .stock-container .stock-box .value {
  font-size: 14px;
  color: #ff7878;
}
.single-product .product-info .description-container {
  line-height: 20px;
  color: #666666;
}
.single-product .product-info .price-container {
  border-bottom: 1px solid #F2F2F2;
  border-top: 1px solid #F2F2F2;
  margin-bottom: 0;
  padding: 20px 0;
}
.single-product .product-info .price-container .price-box .price {
  font-size: 36px;
  font-weight: 700;
  line-height: 50px;
}
.single-product .product-info .price-container .price-box .price-strike {
  color: #aaa;
  font-size: 16px;
  font-weight: 300;
  line-height: 50px;
  text-decoration: line-through;
}
.single-product .product-info .quantity-container {
  border-bottom: 1px solid #F2F2F2;
  margin-bottom: 0;
  padding: 20px 0;
}
.single-product .product-info .quantity-container .label {
  font-size: 16px;
  font-family: 'FjallaOneRegular';
  line-height: 40px;
  text-transform: uppercase;
  color: #666666;
  padding: 0px;
  font-weight: normal;
}
.single-product .product-info .quantity-container .cart-quantity .quant-input {
  display: inline-block;
  height: 35px;
  position: relative;
  width: 70px;
}
.single-product .product-info .quantity-container .cart-quantity .quant-input .arrows {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
  height: 100%;
}
.single-product .product-info .quantity-container .cart-quantity .quant-input .arrows .arrow {
  box-sizing: border-box;
  display: block;
  text-align: center;
  width: 40px;
  cursor: pointer;
}
.single-product .product-info .quantity-container .cart-quantity .quant-input .arrows .arrow .ir .icon {
  position: relative;
}
.single-product .product-info .quantity-container .cart-quantity .quant-input .arrows .arrow .ir .icon.fa-sort-asc {
  top: 5px;
}
.single-product .product-info .quantity-container .cart-quantity .quant-input .arrows .arrow .ir .icon.fa-sort-desc {
  top: -7px;
}
.single-product .product-info .quantity-container .cart-quantity .quant-input input {
  background: none repeat scroll 0 0 #fff;
  border: 1px solid #f2f2f2;
  box-sizing: border-box;
  font-size: 15px;
  height: 35px;
  left: 0;
  padding: 0 20px 0 18px;
  position: absolute;
  top: 0;
  width: 70px;
  z-index: 1;
}
.single-product .product-info .product-social-link .social-label {
  font-size: 15px;
  font-family: 'FjallaOneRegular';
  line-height: 20px;
  text-transform: uppercase;
}
.single-product .product-info .product-social-link .social-icons {
  display: inline-block;
}
.single-product .product-info .product-social-link .social-icons ul li a {
  color: #888888;
  font-size: 16px;
  -webkit-transition: all 0.2s linear 0s;
  -moz-transition: all 0.2s linear 0s;
  -o-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
  padding: 5px 6px;
}
.single-product .product-info .product-social-link .social-icons ul li a:hover,
.single-product .product-info .product-social-link .social-icons ul li a:focus {
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  color: #fff;
}
.single-product .product-tabs {
  margin-top: 60px;
}
.single-product .product-tabs .nav.nav-tabs.nav-tab-cell > li {
  float: none !important;
  border-bottom: 1px solid #f2f2f2;
}
.single-product .product-tabs .nav.nav-tabs.nav-tab-cell > li > a {
  border: none;
  color: #555;
  display: block;
  padding: 12px 28px;
  font-size: 18px;
  font-family: 'FjallaOneRegular';
  line-height: 28px;
  text-transform: uppercase;
  position: relative;
}
.single-product .product-tabs .nav.nav-tabs.nav-tab-cell > li > a:hover,
.single-product .product-tabs .nav.nav-tabs.nav-tab-cell > li > a:focus {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  color: #fff;
}
.single-product .product-tabs .nav.nav-tabs.nav-tab-cell > li > a:hover:before,
.single-product .product-tabs .nav.nav-tabs.nav-tab-cell > li > a:focus:before {
  border-color: rgba(0, 0, 0, 0) #e0e0e0 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
  right: -10px;
}
.single-product .product-tabs .nav.nav-tabs.nav-tab-cell > li > a:hover:after,
.single-product .product-tabs .nav.nav-tabs.nav-tab-cell > li > a:focus:after {
  border-style: solid;
  border-width: 7.5px 1px 7.5px 10px;
  content: "";
  height: 0;
  position: absolute;
  top: 20px;
  width: 0;
  right: -8px;
}
.single-product .product-tabs .nav.nav-tabs.nav-tab-cell > li.active > a {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  color: #fff;
}
.single-product .product-tabs .nav.nav-tabs.nav-tab-cell > li.active > a:before {
  border-color: rgba(0, 0, 0, 0) #e0e0e0 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
  right: -10px;
}
.single-product .product-tabs .nav.nav-tabs.nav-tab-cell > li.active > a:after {
  border-style: solid;
  border-width: 7.5px 1px 7.5px 10px;
  content: "";
  height: 0;
  position: absolute;
  top: 20px;
  width: 0;
  right: -8px;
}
.single-product .product-tabs .tab-content {
  border: 1px solid #f2f2f2;
}
.single-product .product-tabs .tab-content .tab-pane {
  padding: 24px;
}
.single-product .product-tabs .tab-content .tab-pane .text {
  line-height: 20px;
}
.single-product .upsell-product .product .product-info .name {
  margin-top: 20px;
  font-size: 16px;
}
.single-product #owl-single-product-thumbnails .owl-controls {
  position: absolute;
  text-align: center;
  top: auto;
  width: 100%;
  margin-top: 10px;
}
.single-product #owl-single-product-thumbnails .owl-controls .owl-pagination .owl-page {
  display: inline-block;
}
.single-product #owl-single-product-thumbnails .owl-controls .owl-pagination .owl-page span {
  background: none repeat scroll 0 0 #ddd;
  border: medium none;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  display: block;
  height: 12px;
  margin: 0 5px;
  -webkit-transition: all 200ms ease-out 0s;
  -moz-transition: all 200ms ease-out 0s;
  -o-transition: all 200ms ease-out 0s;
  transition: all 200ms ease-out 0s;
  width: 12px;
  cursor: pointer;
}
.single-product .sidebar .sidebar-module-container .sidebar-widget .section-title {
  margin-top: 0px;
}
.cnt-homepage .single-product .single-product-gallery .gallery-thumbs .nav-holder {
  background-color: #FFFFFF;
  height: 100%;
  position: absolute;
  top: 0;
  width: 30px;
  z-index: 50;
}
.cnt-homepage .single-product .single-product-gallery .gallery-thumbs .nav-holder .prev-btn,
.cnt-homepage .single-product .single-product-gallery .gallery-thumbs .nav-holder .next-btn {
  background-color: #000;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  display: inline-block;
  height: 100%;
  position: absolute;
  vertical-align: top;
  width: 90%;
  z-index: 100;
  border: 1px solid #e5e5e5;
  color: #dadada;
}
.cnt-homepage .single-product .single-product-gallery .gallery-thumbs .nav-holder.left {
  left: 0px;
}
.cnt-homepage .single-product .single-product-gallery .gallery-thumbs .nav-holder.right {
  right: 0;
}
.cnt-homepage .single-product .single-product-gallery .gallery-thumbs .nav-holder .prev-btn {
  left: 0;
}
.cnt-homepage .single-product .single-product-gallery .gallery-thumbs .nav-holder .prev-btn:after {
  content: "\f104";
}
.cnt-homepage .single-product .single-product-gallery .gallery-thumbs .nav-holder .next-btn {
  right: 0px;
}
.cnt-homepage .single-product .single-product-gallery .gallery-thumbs .nav-holder .next-btn:after {
  content: "\f105";
}

.cnt-homepage .single-product .single-product-gallery .gallery-thumbs .nav-holder .prev-btn:after,
.cnt-homepage .single-product .single-product-gallery .gallery-thumbs .nav-holder .next-btn:after {
  bottom: 0;
  font-family: fontawesome;
  font-size: 30px;
  height: 30px;
  left: 0;
  line-height: 30px;
  margin: auto;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
}
.cnt-homepage .single-product .single-product-gallery .gallery-thumbs .nav-holder .prev-btn:hover,
.cnt-homepage .single-product .single-product-gallery .gallery-thumbs .nav-holder .next-btn:hover,
.cnt-homepage .single-product .single-product-gallery .gallery-thumbs .nav-holder .prev-btn:focus,
.cnt-homepage .single-product .single-product-gallery .gallery-thumbs .nav-holder .next-btn:focus {
  background: #dadada;
  color: #fff;
}
.cnt-homepage .single-product .single-product-gallery .owl-item .single-product-gallery-item > a > img {
  display: block;
  width: 100%;
}
.cnt-homepage .single-product .single-product-gallery .owl-item .single-product-gallery-thumbs.gallery-thumbs .owl-item {
  margin-left: 10px;
}
.cnt-homepage .single-product .product-info-block label,
.cnt-homepage .single-product .product-info-block .label {
  font-size: 13px;
  font-weight: normal;
  line-height: 30px;
  color: #434343 !important;
}
.cnt-homepage .single-product .product-info-block .label {
  padding: 0px;
}
.cnt-homepage .single-product .product-info-block .cart {
  width: auto;
  left: 0;
  margin-top: -8px;
  padding: 0px;
}
.cnt-homepage .single-product .product-info-block .cart .action .left {
  padding: 2px 8px;
  margin-left: 5px;
}
.cnt-homepage .single-product .product-info-block .form-control .selectpicker {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid #f1f1f1;
  background: #fff;
  color: #b0b0b0;
}
.cnt-homepage .single-product .product-info-block .form-control .dropdown-menu {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  border: 1px solid #f1f1f1;
}
.cnt-homepage .single-product .product-info-block .form-control .dropdown-menu ul li a:hover,
.cnt-homepage .single-product .product-info-block .form-control .dropdown-menu ul li a:focus {
  background: rgba(0, 0, 0, 0);
}
.cnt-homepage .single-product .product-info-block .txt.txt-qty {
  font-size: 15px;
  line-height: 18px;
  border: 1px solid #f1f1f1;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  height: 30px;
  padding: 5px 10px;
  text-align: center;
  width: 60px;
}
.cnt-homepage .single-product .product-info-block .stock-container .stock-box .label {
  color: #434343;
  font-family: 'Roboto';
  font-size: 13px;
  font-weight: normal;
  line-height: 20px;
  padding: 0;
  text-transform: none;
}
.cnt-homepage .single-product .product-info-block .stock-container .stock-box .value {
  font-size: 13px;
}
.cnt-homepage .single-product .product-tabs .nav-tab-cell-detail li {
  margin-right: 10px;
  padding: 0;
}
.cnt-homepage .single-product .product-tabs .nav-tab-cell-detail li a {
  border: 2px solid #e1e1e1;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  color: #666666;
  font-family: 'FjallaOneRegular';
  font-size: 20px;
  line-height: 30px;
  padding-bottom: 4px;
  padding-top: 4px;
  text-transform: uppercase;
}
.cnt-homepage .single-product .product-tabs .nav-tab-cell-detail li a:hover,
.cnt-homepage .single-product .product-tabs .nav-tab-cell-detail li a:focus {
  color: #fff;
}
.cnt-homepage .single-product .product-tabs .nav-tab-cell-detail li.active a {
  color: #fff;
}
.cnt-homepage .single-product .product-tabs .tab-content {
  border: none;
}
.cnt-homepage .single-product .product-tabs .tab-content .tab-pane {
  padding: 0px;
}
.cnt-homepage .single-product .product-tabs .tab-content .tab-pane .product-tab .text {
  font-size: 13px;
  line-height: 22px;
}
.single-product .second-gallery-thumb.gallery-thumbs {
  padding: 0 40px;
}
.single-product .second-gallery-thumb.gallery-thumbs #owl-single-product2-thumbnails .owl-wrapper-outer {
  margin-left: 5px;
}
.product-tabs .tab-content .tab-pane .product-reviews .title {
  color: #666666;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  margin: 0 0 10px;
  text-transform: uppercase;
  font-family: 'FjallaOneRegular';
}
.product-tabs .tab-content .tab-pane .product-reviews .reviews .review {
  margin-bottom: 20px;
  font-family: 'Roboto', sans-serif;
  text-transform: none;
}
.product-tabs .tab-content .tab-pane .product-reviews .reviews .review .review-title {
  margin-bottom: 5px;
}
.product-tabs .tab-content .tab-pane .product-reviews .reviews .review .review-title .summary {
  color: #666666;
  font-size: 14px;
  font-weight: 300;
  line-height: 45px;
  margin-right: 10px;
  text-transform: uppercase;
}
.product-tabs .tab-content .tab-pane .product-reviews .reviews .review .review-title .date {
  font-size: 12px;
}
.product-tabs .tab-content .tab-pane .product-reviews .reviews .review .review-title .date span {
  margin-left: 5px;
}
.product-tabs .tab-content .tab-pane .product-reviews .reviews .review .text {
  line-height: 18px;
}
.product-tabs .tab-content .tab-pane .product-reviews .reviews .review .author span {
  margin-left: 5px;
}
.product-tabs .tab-content .tab-pane .product-add-review .title {
  color: #666666;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  margin: 0 0 20px;
  text-transform: uppercase;
  font-family: 'FjallaOneRegular';
}
.product-tabs .tab-content .tab-pane .product-add-review .review-table .table thead th {
  font-weight: normal;
  border-bottom-width: 1px;
  text-align: center;
  vertical-align: middle;
}
.product-tabs .tab-content .tab-pane .product-add-review .review-table .table tbody tr td {
  text-align: center;
  vertical-align: middle;
}
.product-tabs .tab-content .tab-pane .product-add-review .review-table .table tbody tr td input {
  float: none;
  margin: auto;
}
.product-tabs .tab-content .tab-pane .product-add-review .review-form label {
  font-weight: normal;
  font-size: 13px;
}
.product-tabs .tab-content .tab-pane .product-add-review .review-form label .astk {
  color: #FF0000;
  font-size: 12px;
}
.product-tabs .tab-content .tab-pane .product-add-review .review-form .txt {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.product-tabs .tab-content .tab-pane .product-tag .title {
  color: #666666;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  margin: 0 0 20px;
  text-transform: uppercase;
  font-family: 'FjallaOneRegular';
}
.product-tabs .tab-content .tab-pane .product-tag .form-group label {
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  margin-right: 10px;
}
.product-tabs .tab-content .tab-pane .product-tag .form-group .txt {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.product-tabs .tab-content .tab-pane .product-tag .form-group .text {
  margin-left: 90px;
}
.hot-deal-wrapper .image img {
    width: 100%;
    height: auto;
    display: block;
  }
.f-container .product {
  position: relative;
}
.f-container .product .btn-primary {
  font-size: 15px;
  line-height: 30px;
  font-family: 'FjallaOneRegular';
  background: #cbc9c9;
  text-transform: uppercase;
  border: none;
  color: #fff;
}
.custom-carousel .owl-controls .owl-prev:hover,
.custom-carousel .owl-controls .owl-next:hover,
.custom-carousel .owl-controls .owl-prev:focus,
.custom-carousel .owl-controls .owl-next:focus {
  background: #0b816a;
}
.label {
  padding-right: 20px;
}